.form {
    border-radius: 15px;
    border: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    gap: 30px;
}

.showContainer {
    position: relative;
}

.showInput {
    padding-right: 44px;
}

.showButton {
    height: 47px;
    width: 47px;
    position: absolute;
    right: 0px;
    bottom: -2px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.submitButton {
    background-color: #005461;
    color: white;
    padding: 20px;
    font-size: 22px;
    border-radius: 10px;
    transition: .3s;
    border: none;
}

.submitButton:hover {
    background-color: #007587;
}