@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 400;
}

a {
  color: #ffffff;
  font-size: 40px;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #8FABD4;
}

img {
  display: block;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}

input {
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 10px;
  width: 356px;
  font-size: 22px;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
